<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="site-about">
    <div class="container">
    <section class="about-section" id="about">
      
      <div class="headings-wrapper">
        <h2>About Me</h2>
      </div>

      <div class="about-image">
        <img class="img"
          src="/images/abhishek.jpg"
          alt="Abhishek's Image"
        />
        <div class="about-image"></div>
        <div class="about-image"></div>
        <div class="social-links">
          <a href="tel:+91XXXXXXXXXX" class="social-link">
            <i class="fas fa-phone-alt"></i>
          </a>
          <a href="mailto:abhishekmisra7225@gmail.com" class="social-link">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/abhishek-mishra-1251282a8/" target="_blank" class="social-link">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/aerobyte-abhishek" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/in/abhishek-mishra-1251282a8/" target="_blank" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      

      <div class="about-content">
        <p>
          I'm a passionate Java Backend Developer with a strong foundation in
          building robust, scalable applications. My journey in software
          development has been driven by a deep curiosity for solving complex
          problems and creating efficient systems.
        </p>
        <p>
          Currently pursuing my Bachelor of Computer Applications (BCA) at
          Acropolis Institute of Management Studies and Research, Indore, I'm
          constantly expanding my knowledge and skills in the world of software
          development.
        </p>
        <div class="hackathon-box">
          <h3><i class="fa-solid fa-trophy"></i> Hackathon Experience</h3>
          <ul>
            <li>
              <strong>CodeFest 2024</strong> - Developed a real-time data
              processing application using Java and MySQL, securing 2nd place.
            </li>
            <li>
              <strong>TechJam 2024</strong> - Created a Java-based inventory
              management system with a Swing GUI interface.
            </li>
          </ul>
        </div>
      </div>
    </section>
    </div>
    
  </th:block>
</html>
