<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="site-about">
    <div class="container">
    <section class="about-section" id="about">
      
      <div class="headings-wrapper">
        <h2>About Me</h2>
      </div>

      <div class="about-image">
        <img class="img"
          src="/images/abhishek.jpg"
          alt="Abhishek's Image"
        />
        <div class="about-image"></div>
        <div class="about-image"></div>
        <div class="social-links">
          <a href="mailto:abhishekmishra1308@outlook.com" class="social-link">
            <i class="fa-solid fa-envelope-open"></i>
          </a>
          <a href="https://www.linkedin.com/in/abhishek-mishra-1251282a8/" target="_blank" class="social-link">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/aerobyte-abhishek" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/in/abhishek-mishra-1251282a8/" target="_blank" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      

      <div class="about-content">
        <p>
  I'm <strong>Abhishek Mishra</strong>, a passionate <strong>Java Backend Developer</strong> with a strong foundation in
  building robust, scalable applications. My journey in <strong>software
  development</strong> has been driven by a deep curiosity for <strong>solving complex
  problems and creating efficient systems.</strong>
</p>
<p>
  Currently pursuing my <strong>Bachelor of Computer Applications (BCA)</strong> at
  <strong>Acropolis Institute of Management Studies and Research, Indore</strong>, I'm
  constantly expanding my knowledge and skills in the world of software
  development.
</p>

<p>
  I’m excited to contribute to real-world projects and collaborate with like-minded developers to build impactful solutions.
</p>

        <div class="hackathon-box">
          <h3><i class="fa-solid fa-trophy"></i> Hackathon Experience</h3>
          <ul>
            <li>
              <strong>AI RAG Chatbot – 2nd Place (2024)</strong> - Built an AI-powered academic assistant using Gemini API, Python/Flask, Supabase, React, Tailwind, and Framer Motion.<br>
              - The chatbot answered student queries from PDFs, YouTube lectures, and campus event data, providing instant and accurate responses.
            </li>
          </ul>
        </div>
      </div>
    </section>
    </div>
    
  </th:block>
</html>
