<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="site-header">
    <header class="header">
        <div class="container header-container">
            <div class="logo">A.<span>M</span></div>
            <div class="nav">
                <div class="nav-links">
                    <a href="#" class="nav-link">About</a>
                    <a href="#" class="nav-link">Project</a>
                    <a href="#" class="nav-link">Skills</a>
                    <a href="#" class="nav-link">Contact</a>
                    <button class="resume-btn"><i class="fa-solid fa-download"></i> Resume</button>
                </div>
            </div>
        </div>
    </header>
  </th:block>
</html>
