<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="site-header">
    <header class="header">
        <div class="container header-container">
            <div class="logo">
              <a href="#hero">
              <img src="./images/black-logo.png" alt="logo" class="logo-img default">
              </a>
            </div>
            <div class="nav">
                <div class="nav-links">
                    <a href="#about" class="nav-link">About</a>
                    <a href="#projects" class="nav-link">Projects</a>
                    <a href="#skills" class="nav-link">Skills</a>
                    <a href="#contact" class="nav-link">Contact</a>
                    <a href="#resume" download="Abhishek_Mishra_Resume.pdf" class="resume-btn"><i class="fa-solid fa-download"></i> Resume</a>
                </div>
            </div>
        </div>
    </header>
  </th:block>
</html>
