<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="projectCard(title, description, tags, gitHubLink, liveLink)">
    <div class="project-card">
      <h3 th:text="${title}">Project Title</h3>
      <p th:text="${description}">Project Description</p>

      <div class="tags">
        <span th:each="tag : ${tags}" th:text="${tag}"></span>
      </div>

      <div class="project-links">
  <a th:href="${gitHubLink}" target="_blank" class="bookmarkBtn">
    <span class="IconContainer">
      <i class="fab fa-github icon"></i>
    </span>
    <p class="text">GitHub</p>
  </a>

  <a th:href="${liveLink}" target="_blank" class="bookmarkBtn">
    <span class="IconContainer">
      <i class="fas fa-external-link-alt icon"></i>
    </span>
    <p class="text">Live</p>
  </a>
</div>

    </div>
  </th:block>
</html>
