<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abhishek Mishra - Personal Portfolio</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="manifest" href="/site.webmanifest">

<!-- PWA Android Icons -->
<link rel="icon" type="image/png" sizes="192x192" href="/web-app-manifest-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/web-app-manifest-512x512.png">

    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
</head>
  <body>
    <!-- Loading animation.. -->
     <div th:replace = "~{fragments/loader :: loader}"></div>

    <!-- Background Shapes -->
     <div class="floating-shape shape-1"></div>
     <div class="floating-shape shape-2"></div>
     <div class="floating-shape shape-3"></div>
    <!-- Background Shapes end -->

    <!-- Header -->
    <div th:replace = "~{fragments/header :: site-header}"></div>

    <!-- Hero Terminal Section -->
    <div th:replace = "~{fragments/hero :: site-hero}"></div>

    <!-- About Section -->
    <div th:replace = "~{fragments/about :: site-about}"></div>

    <!-- Projects Section -->
    <div th:replace = "~{fragments/projects :: site-projects}"></div>

    <!-- Skills Section -->
    <div th:replace = "~{fragments/skills :: site-skills}"></div>

    <!-- Contact Section -->
    <div th:replace="~{fragments/contact-us :: site-contact}"></div>

    <!-- Footer -->
    <div th:replace = "~{fragments/footer :: site-footer}"></div>

    

    <!-- custom script file -->
     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
